alabaster==0.7.7
Babel==2.2.0
decorator==4.0.6
docutils==0.12
dominate==2.1.16
Flask==0.10.1
Flask-HTTPAuth==2.7.0
flask-nav==0.5
Flask-SQLAlchemy==2.1
google-common==0.0.1
itsdangerous==0.24
Jinja2==2.8
jsonschema==2.5.1
MarkupSafe==0.23
pbr==1.8.1
protobuf==2.6.1
Pygments==2.1
pytz==2015.7
PyYAML==3.11
requests==2.9.1
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.3.5
sphinx-rtd-theme==0.1.9
SQLAlchemy==1.0.11
sqlalchemy-migrate==0.10.0
sqlparse==0.1.18
Tempita==0.5.2
visitor==0.1.2
Werkzeug==0.11.3
wheel==0.26.0
