<div>
    <h2>Interfaces</h2>
    <select ng-init="selectedInterface = null" ng-model="selectedInterface"
            class="form-control"
            ng-change="main.getInterface(selectedInterface)"
            ng-options="interface.name for interface in main.interfaces">
        <option value="">
            Select an interface
        </option>
    </select>
    <h2>Bioboxes</h2>
    <div ng-hide="main.bioboxes.length < 1" id="results" class="scroller">
        <div>
            <table class="table table-striped table-hover clickable">
                <tbody>
                <tr ng-repeat="biobox in main.bioboxes" ng-click="main.selectBiobox(biobox)">
                    <td ng-show="biobox.title"><b>{{ biobox.title }}</b></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-show="main.bioboxes.length < 1">
        <p>No bioboxes to show.</p>
    </div>
    <form ng-if="hasRole([main.Roles.admin, main.Roles.trusted])" role="form" ng-submit="main.updateBioboxes()">
        <button type="submit" class="btn btn-default">update</button>
    </form>
</div>
