<div>
    <div ng-hide="main.biobox == '404'">
        <div id="main.bioboxes-{{ main.biobox.title }}">
            <h3> {{ main.biobox.image.dockerhub }} </h3>
            <p> {{ main.biobox.description }}</p>
            <h4>Tasks</h4>
            <table class="table table-striped table-hover clickable">
                <tbody>
                <tr ng-repeat="task in main.biobox.tasks" ng-click="main.selectTask(task)">
                    <td>
                        <b>{{ task.name }}</b>
                    </td>
                    <td>
                        {{ task.interface.name }}
                    </td>
                </tr>
                </tbody>
            </table>

            <form name="taskSubmitForm" ng-submit="main.submitTask()" role="form" ng-hide="!main.task">
                <h4>{{ main.task.name }}</h4>
                <div class="form-group"
                     ng-class="{ 'has-error': form.file.$dirty && form.file.$error.required }">
                    <label for="file">fastq file</label>
                    <input type="text" name="fastq file" id="file" class="form-control"
                           ng-model="main.task.file"
                           required/>
                </div>
                <div class="form-actions">
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Submit Task
                    </button>
                </div>
            </form>
        </div>

    </div>
    <div ng-hide="main.biobox != 404">
        <h2>Error</h2>
        <p>You requested main.biobox could not be found.</p>
    </div>
</div>